* {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}

#header {
	position: fixed;
	height: 55px;
	background-color: #252525;
	font-family: sans-serif;
	color: white;
	width: 88%;
	margin-left: 6%;
	top: 0px;
}

#header > img {
	display: inline-block;
	height: 45px;
	width: 45px;
	margin-top: 5px;
	margin-left: 30px;
	float: left;
}

#header > h1 {
	display: inline-block;
	margin-top: 10px;
	margin-left: 23px;
}

#main-page {
	margin-left: 6%;
	width: 88%;
}

.card {
	border: 1px solid #333;
	border-radius: 8px;
	padding: 10px;
	display: inline-block;
	background-color: #efefef;
	min-width: calc(33% - 20px);
}

#hero-card {
	margin-top: 90px;
	height: 80vh;
	background-image: url("imgs/march-madness-hero.jpg");
	background-size: cover;
}

#hero-link {
	color: white;
	background-color: #0053a0;
	display: inline-block;
	padding: 20px 30px;
	font-size: 30pt;
	margin-top: 170px;
	margin-left: 130px;
	box-shadow: 10px 10px #252525;
	cursor: pointer;
}

#hero-link > h1 {
	text-decoration: none;
	color: white;
	font-size: 30pt;
}

#header-links {
	display: inline-block;
	float: right;
	font-size: 20px;
	margin-top: 16px;
	margin-right: 35px;
	cursor: pointer;
}

#login-dropdown {
	display: inline-block;
	position: fixed;
	background-color: #0053a0;
	top: 55px;
	right: 6%;
	padding: 0px 18px 0px 18px;
	overflow-y: hidden;
	transition-property: height;
	transition-duration: 0.5s
}

#login-dropdown > p {
	margin-bottom: 4px;
}

#login-dropdown > input {
	width: 200px;
	padding: 3px;
}

.auth-button {
	display: inline-block;
	background-color: #252525;
	color: white;
	padding: 5px 10px;
	font-size: 15px;
	cursor: pointer;
	margin-top: 10px;
	width: calc(50% - 25px);
	text-align: center;
	margin-bottom: 16px;
}

#email-p {
	display: inline-block;
	float: left;
	margin-top: 14px;
}

#close-login {
	display: inline-block;
	position: absolute;
	top: 4px;
	right: 11px;
	cursor: pointer;
	padding: 0px 5px 2px 5px;
	border-radius: 50%;
}

#close-login:hover {
	background-color: #252525;
}